.main-body{
	text-align:center;
	/*background-color: rgb(228, 228, 228);*/
	width:350px; 
	height :450px;
}

.title-header{
	margin: 10px;
}

.unit-exp{
	margin: 7px;
	padding: 5px;
	background-color: rgb(228, 228, 228);
	border-radius: .25em;
	height: 33px;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);
}

.unit-exp span{
	font-size: 15px;
	float: left;
}

.script-editor{
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	text-align:center;
	top: 0px;
	bottom: 0px;
	width: 100%;
}

.script-title-name{
	width: 86%;
	left: 7%;
	margin-top: 15%;
}

.script-content{
	width: 90%;
	left: 5%;
}

.script-actions{
	margin-top: 10px;
}

.script-actions button{
	margin-left: 10px;
}

.alert-stuff{
	position: absolute;
	font-size: 13px;
	height: 0px;
	line-height: 0px;
	width: 80%;
	left: 10%;
	top:2%;
}

.action-button{
	/*float: right;*/
	width: 30px;
	margin-left: 5px;
}

.scripter{
	width:95%;
	max-height:300px;
	overflow-y:auto;
	line-height: 13px;
	font-size: 13px;
	
	border:1px solid #999;
	border-radius: .25em;
	padding:10px;
	font-family: monospace;

	margin-top: 20px;
}

.scripter:focus{
	border-color:#1FC31B;
}

.create-exp{
	margin: 5px;
	height: 30px;
}

.dashboard-exp{
	margin: 5px;
	overflow: scroll;
}

.run-button{
	float:right; 
	margin-right:10px;
	margin-top:5px;
	width: 50px;
}
.clear-button{
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}

.create-button{
	/*float: right;
	margin-right: 10px;*/
	margin-top: 5px;	
}